@import url("https://fonts.cdnfonts.com/css/montserrat");@import url("https://fonts.cdnfonts.com/css/sf-pro-display");html, body {
  padding: 0;
  margin: 0;
  
  
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "SF Pro Display", sans-serif;
}

.noselect {
  user-select: none;
}

:root {
  --color-var0: #d7d5d5;
  --color-var1: #a5a4a4;
  --color-var2: #494949;
  --color-var3: #010101;
  --color-var4: rgba(0, 113, 227, 1);
  --color-var5: rgba(0, 113, 227, 0.4);
  --color-var6: rgb(70, 162, 255);
  --navbar-height-1: 4rem;
  --navbar-height-2: 3rem;
  --h1: --navbar-height-1;
  --h2: --navbar-height-2;
  --navbar-height-total: calc(var(--h1) + var(--h2));
  --navbar-height-mobile: 4rem;
}

.spacer-1 {
  flex: 1;
}

.spacer-2 {
  flex: 2;
}

.spacer-3 {
  flex: 3;
}

.spacer-4 {
  flex: 4;
}

.spacer-5 {
  flex: 5;
}

.spacer-6 {
  flex: 6;
}

.spacer-7 {
  flex: 7;
}

.spacer-8 {
  flex: 8;
}

.spacer-9 {
  flex: 9;
}

.spacer-10 {
  flex: 10;
}

.link {
  color: #0085ff;
  text-align: center;
  cursor: pointer;
}

.mobile-only {
  display: none;
}

@media (max-width: 768px) {
  .mobile-only {
    display: flex;
  }
  .desktop-only {
    display: none;
  }
}.navbar.svelte-11dyweu.svelte-11dyweu{box-sizing:border-box;transition:height 0.1s ease;height:100%;display:flex;align-items:center;gap:2rem;padding:0 2rem;font-size:1.2rem}.navbar.svelte-11dyweu .spacer.svelte-11dyweu{flex:1}.navbar.svelte-11dyweu .tab-link.svelte-11dyweu{display:flex;justify-content:center;flex-direction:column;cursor:pointer;gap:0.1rem}.navbar.svelte-11dyweu .tab-link .underline.svelte-11dyweu{background-color:rgb(50, 50, 50);height:3px;width:0%;transition:width 0.5s ease-in-out, background-color 0.5s ease-in-out;align-self:center;border-radius:2rem}.navbar.svelte-11dyweu .tab-link.active.svelte-11dyweu{color:var(--color-var1);cursor:default;pointer-events:none}.navbar.svelte-11dyweu .tab-link:hover .underline.svelte-11dyweu{width:100%;background-color:rgb(0, 0, 0)}.navbar.svelte-11dyweu .logo.svelte-11dyweu{height:5rem;width:5rem}.navbar.svelte-11dyweu .logo img.svelte-11dyweu{height:100%;width:100%}.navbar.svelte-1ay6h85.svelte-1ay6h85{box-sizing:border-box;height:100%;display:flex;gap:3rem;align-items:flex-end;height:var(--navbar-height-2);border-bottom:2px solid black;box-sizing:border-box;align-items:center}.navbar.svelte-1ay6h85 .tab-link.active.svelte-1ay6h85{color:var(--color-var1);pointer-events:none}.navbar.svelte-1ay6h85 .tab-link.svelte-1ay6h85{color:var(--color-var3);user-select:none;cursor:pointer}.navbar.svelte-1ay6h85 .acquista.svelte-1ay6h85{background-color:var(--color-var4);padding:0.2rem 1rem 0.2rem 1rem;border-radius:2rem;color:white;box-sizing:border-box;user-select:none;transition:all 0.2s ease-in-out;cursor:pointer}.navbar.svelte-1ay6h85 .acquista.active.svelte-1ay6h85{background-color:var(--color-var5);color:white}.navbar.svelte-1ay6h85 .acquista.svelte-1ay6h85:hover{background-color:var(--color-var5);color:white}.navbar.svelte-142st2e.svelte-142st2e{z-index:1000;box-sizing:border-box;height:100%;display:flex;flex-direction:row;align-items:center}.navbar.svelte-142st2e .logo.svelte-142st2e{width:3rem;height:3rem;display:flex;align-items:center;justify-content:center}.navbar.svelte-142st2e .logo img.svelte-142st2e{width:100%;height:100%}.navbar.svelte-142st2e .hamburger.svelte-142st2e{width:32px;height:32px;display:flex;flex-direction:column;justify-content:space-between;cursor:pointer;box-sizing:border-box}.navbar.svelte-142st2e .hamburger span.svelte-142st2e{width:100%;height:5px;background-color:black;border-radius:2rem;transition:all 1s ease}.navbar.svelte-142st2e .hamburger.active span.svelte-142st2e:nth-child(1){transform:rotate(45deg) translate(10px, 10px)}.navbar.svelte-142st2e .hamburger.active span.svelte-142st2e:nth-child(2){opacity:0}.navbar.svelte-142st2e .hamburger.active span.svelte-142st2e:nth-child(3){transform:rotate(-45deg) translate(9px, -9px)}.menu.svelte-142st2e.svelte-142st2e{position:absolute;top:var(--navbar-height-1);height:0rem;width:100%;overflow:hidden;background:white;transition:height 1s ease;border-bottom:3px solid black;display:flex}.menu.svelte-142st2e .half-menu.svelte-142st2e{width:50%;position:relative;display:flex;flex-direction:column;padding:1rem;gap:0.5rem}.menu.svelte-142st2e .right.svelte-142st2e{left:50%;transition:left 1s ease;align-items:flex-end}.menu.svelte-142st2e .left.svelte-142st2e{right:50%;transition:right 1s ease;align-items:flex-start}.menu.svelte-142st2e .mob-link.svelte-142st2e{cursor:pointer;text-decoration:underline}.menu.svelte-142st2e .mob-link.active.svelte-142st2e{color:var(--color-var1);cursor:default}.menu.active.svelte-142st2e.svelte-142st2e{height:9rem}.menu.active.svelte-142st2e .right.svelte-142st2e{left:0}.menu.active.svelte-142st2e .left.svelte-142st2e{right:0}.layout.svelte-b062kv.svelte-b062kv{height:calc(var(--vh, 1vh) * 100);display:flex;flex-direction:column}.layout.svelte-b062kv .navbar-mobile.svelte-b062kv{display:none}.layout.svelte-b062kv .navbar-desktop.svelte-b062kv{--translateY:calc(var(--h1) - var(--navbar-height-1));height:var(--navbar-height-total);transition:height 0.5s ease-in-out;overflow:hidden}.layout.svelte-b062kv .top-nav.svelte-b062kv{height:var(--navbar-height-1);transform:translateY(var(--translateY));transition:transform 0.5s ease-in-out}.layout.svelte-b062kv .bottom-nav.svelte-b062kv{height:var(--navbar-height-2);transform:translateY(var(--translateY));transition:transform 0.5s ease-in-out}.layout.svelte-b062kv .content.svelte-b062kv{height:calc(var(--vh, 1vh) * 100 - var(--navbar-height-total));transition:height 0.5s ease-in-out;display:flex;flex-direction:column;border-top:0.2rem solid;box-sizing:border-box}@media(max-width: 768px){.layout.svelte-b062kv .navbar-desktop.svelte-b062kv{display:none}.layout.svelte-b062kv .navbar-mobile.svelte-b062kv{display:block;height:var(--navbar-height-mobile)}.layout.svelte-b062kv .content.svelte-b062kv{height:calc(var(--vh, 1vh) * 100 - var(--navbar-height-mobile))}}