body {
  margin: 0;
}

:root {
  --color-1: #638475;
  --color-2: #ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;

  // scroll-snap-align: start; 
  // scroll-behavior: smooth;
  // scroll-snap-type: y mandatory;
  // scrollbar-width: none;
  scrollbar-width: none;
  // scroll-snap-align: start; 
}