body {
  margin: 0;
  font-family: 'Montserrat';
}

:root {
  --color-1: #638475;
  --color-2: #ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  
}